@media only screen and (max-width: 900px) {
    /* Description */

    section.description {
        flex-direction: column-reverse;
        text-align: -webkit-center;
    }
    .description .about h2 {
        border-radius: 20px;
        padding: 30px;
        text-align: center;
        width: auto;
    }
    .description .breed h2 {
        display: none;
    }
    
    /* Gallery */

    .gallery {
        flex-direction: column;
    }
    .gallery figure:nth-child(1) {
        background-position: center;
    }
    .gallery figure:nth-child(2) {
        background-position: center 20%;
    }
    .gallery figure:nth-child(3) {
        background-position: bottom;
    }

    /* Footer */
    
    footer {
        flex-direction: column;
        text-align: center;
    }
    footer .info {
        margin: auto;
    }
    footer aside {
        margin: 20px;
    }
    footer aside .slogan {
        margin: 0;
        max-width: 100%;
        border-radius: 20px;
    }
    footer aside .slogan h3 {
        text-align: center;
    }
    footer aside p {
        display: none;
    }
}